#section1{
    background-color: white; color: black; height: 200px; width: 200px; padding: 5px;
  }
  #section2{
    background-color: white; color: black; height: 200px; width: 250px; padding: 5px;
  }
  